<!-- Download Section -->
<section id="lessons" class="content-section text-center">
	<div class="lessons-section">
		<div class="container">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Everybody Can Sing!</h2>
				<div class="lessons-container">

					<div class="lessons-one">
						<div class="work">
							<div class="service-box">
								<h3>Choose what to work on.</h3>
								<p>Classical technique or Jazz improv, voice placement or your own material: you choose what we work on. Connect with your body through physical alignment, breathing and relaxation techniques.</p>
							</div>
						</div>
					</div>


						<div class="love">
							<div class="service-box">
								<h3>You love music.</h3>
								<p>As a time goes by one might lose sight of what one really loves. Find your way back!</p>
							</div>
						</div>

						<div class="find">
							<div class="service-box">
								<h3>Find your voice.</h3>
								<p>With just a little help you can unearth your voice and make it shine.</p>
							</div>
						</div>
					</div>

					<div class="lessons-two">
						<div class="travel">
							<div class="service-box">
								<h3>I will come to you.</h3>
								<p>If you feel more comfortable learning at your own home,
									<br> it will only cost you an additional € 5.- transport fee.</p>
							</div>
						</div>
					<h3>Lesson Prices</h3>

					<table class="tables">
						<thead>
							<tr>
								<th>Full Hour</th>
								<th>Half Hour</th>
								<th>Trial Lesson</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>30.- Euro</td>
								<td>20.- Euro</td>
								<td>10.- Euro</td>
							</tr>
							<tr>
								<td>Transport Fee</td>
								<td>Transport Fee</td>
								<td>
								</td>
							</tr>
							<tr>
								<td>5.- Euro</td>
								<td>5.- Euro</td>
								<td>
								</td>
							</tr>
						</tbody>
					</table>


				</div>
			</div>
		</div>
	</div>
</section>
